version: '3.8'

services:
  backend:
    build: ./backend
    container_name: flask-backend
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: flask-frontend
    ports:
      - "3000:3000"
    environment:
      - BACKEND_URL=http://backend:5000/api/message
    depends_on:
      - backend